select, input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  color: #2c3e50;
  appearance: none;
}

select option[disabled] {
  color: #777;
}











